body
{
    font-family: 'Roboto';
}

.interest-select-box
{
    display: flex;
    width:50%;
    justify-content: space-between;
    align-items:center;  
}

.interest-select
{
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    background-color: blue;
    color: white;
}

