{% extends 'base.html' %}

{% block content %}
    <h2>Select an option</h2>

    <div class="interest-select-box">
        <input class="interest-select" type="checkbox">Mathematics</input>
        <input class="interest-select" type="checkbox">Art</input>
        <input class="interest-select" type="checkbox">Music</input>
        <input class="interest-select" type="checkbox">Programming</input>
        <input class="interest-select" type="checkbox">Architecture</input>
        <input class="interest-select" type="checkbox">Microbiology</input>
        <input class="interest-select" type="checkbox">Medicine</input>
        <input class="interest-select" type="checkbox">Animals</input>
        <input class="interest-select" type="checkbox">Healthcare</input>
        <input class="interest-select" type="checkbox">People</input>
        <input class="interest-select" type="checkbox">Electronics</input>
        <input class="interest-select" type="checkbox">Cars</input>
    </div>
{% endblock %}