{% extends 'base.html' %}

{% block content %}

<div class="container is-fluid">

<section class="hero">
    <div style="padding-left: 0" class="hero-body">
      <p class="title">
        Select interests
      </p>
      <p class="subtitle">
        Choose interests which appeal to you. This will help us determine your potential career paths.
      </p>
    </div>
</section>

<form class="box" method="post" action="/results">
    <fieldset>
        <div>
            <label class="checkbox">
                <input class="interest-select" name="interest-art" type="checkbox">
                Art
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-music" type="checkbox">
                Music
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-programming" type="checkbox">
                Programming
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-helping-others" type="checkbox">
                Helping others
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-people" type="checkbox">
                People
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-team" type="checkbox">
                Team
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-justice" type="checkbox">
                Justice
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-solving-problems"" type="checkbox">
                Solving problems
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-animals" type="checkbox">
                Animals
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-creation" type="checkbox">
                Creation
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-cars" type="checkbox">
                Cars
            </label>
            <label class="checkbox">
                <input class="interest-select" name="interest-how-things-work" type="checkbox">
                Understanding how things work
            </label>
        </div>
        <legend style="padding-bottom:1em"><span style="white-space:pre" class="tag is-primary is-rounded">PIck at least <strong style="color:white">3</strong> interests</span></legend>
    </fieldset>
    <hr>
    <button class="button is-info" id="submit-btn" type="Submit">Submit</button>
</form>
</div>

<link ref="stylesheet" href="{{ url_for('static', filename='scripts/client-validation.js') }}">
{% endblock %}